.movie-block {
  position: relative;
  flex-shrink: 0;
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  min-height: 220px;
  width: 360px;
  box-shadow: 0 3px 6px 0 #aaa;
}

.movie-block .col-1 {
  height: 100%;
  display: flex;
}

.img-wrapper {
  min-width: 60px;
  width: 60px;
  min-height: 90px;
}

.movie-block .col-1 img {
  max-width: 100%;
  height: auto;
}

.main-info-wrapper {
  padding-left: 10px;
  padding-right: 35px;
}

.title {
  font-size: 16px;
  line-height: 24px;
}

.date {
  font-size: 12px;
  line-height: 22px;
  color: #827e7e;
}

.vote {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 2px solid #0f0;
  border-radius: 50%;
  font-size: 12px;
}

.movie-block .col-2 {
  min-height: 100px;
  padding-top: 5px;
}

.overview {
  font-size: 12px;
  line-height: 22px;
}

.movie-block .col-3 {
  display: flex;
  justify-content: flex-end;
  min-height: 40px;
}
